<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wn.mapper.ClazzMapper">

    <!--根据id删除班级-->
    <delete id="deleteById">
        delete from clazz where id = #{id}
    </delete>

    <!--条件查询员工信息-->
    <select id="list" resultType="com.wn.pojo.Clazz">
        SELECT
        c.id,
        c.name,
        c.room,
        c.begin_date AS beginDate,
        c.end_date AS endDate,
        c.master_id AS masterId,
        c.create_time AS createTime,
        c.update_time AS updateTime,
        e.name AS masterName,
        CASE
        WHEN NOW() >= c.begin_date THEN '已开班'
        ELSE '未开班'
        END AS status
        FROM
        clazz c
        LEFT JOIN
        emp e ON c.master_id = e.id
        <where>
            <!-- 按名称模糊查询 -->
            <if test="name != null and name != ''">
                e.name like concat('%',#{name},'%')
            </if>
            <!-- 按开班时间起始 -->
            <if test="begin != null">
                AND c.begin_date between #{begin} and #{end}
            </if>
        </where>
    </select>

    <!--根据ID查询教师信息-->
    <select id="getById" resultType="com.wn.pojo.Clazz">
        SELECT
        c.id,
        c.name,
        c.room,
        c.begin_date AS beginDate,
        c.end_date AS endDate,
        c.master_id AS masterId,
        c.create_time AS createTime,
        c.update_time AS updateTime,
        e.name AS masterName
        FROM
        clazz c
        LEFT JOIN
        emp e ON c.master_id = e.id
        WHERE
        c.id = #{id}
    </select>

    <!-- 查询可选班主任列表 -->
    <select id="listMasters" resultType="com.wn.pojo.Emp">
        SELECT
            id, name, job
        FROM
            emp
        WHERE
            job = 1 -- 职位为班主任
    </select>

    <!-- 插入班级信息 -->
    <insert id="insertClazz" parameterType="com.wn.pojo.Clazz">
        INSERT INTO clazz (name, room, begin_date, end_date, master_id, subject, create_time, update_time)
        VALUES (#{name}, #{room}, #{beginDate}, #{endDate}, #{masterId}, #{subject}, NOW(), NOW())
    </insert>
</mapper>